body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #dfe1e5;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    width: 100%;
    /* justify content */
    flex-direction: column;
    align-items: center;
}

.search-bar {
    width: 90%;
    max-width: 580px;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #ffffff;
    
    /* Forçamos a remoção do contorno padrão e deixamos a borda invisível */
    outline: none !important; 
    border: 1px solid transparent !important; 
    border-radius: 24px;
    transition: border-color 0.4s ease; 
}

/* O estilo quando interage */
.search-bar:hover, .search-bar:focus {
    border: 1px solid #000000 !important; 
    outline: none !important;
}

.buttons-container {
    margin-top: 10px;
    display: flex;
    gap: 12px;
}

.search-btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    padding: 10px 26px;
    cursor: pointer;
}

.search-btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
    color: #202124;
}

footer {
    background-color: #f2f2f2; /* Cinza clássico do rodapé do Google */
    width: 100%;
    position: absolute;
    bottom : 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    box-sizing: border-box;
}

footer a {
    color: #70757a;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.top-nav {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    gap: 15px;
}

.top-nav a {
    color: #202124;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

.top-nav a:hover {
    text-decoration: underline;
}

.advanced-container {
    padding: 30px 40px;
    max-width: 1000px;
    margin-top: 60px;
}

.advanced-container h2 {
    color: #d93025;
    font-size: 20px;
    font-weight: normal;
}

.adv-subtitle {
    font-size: 16px;
    font-weight: bold;
    color: #333;    
    margin-bottom: 20px;
}

hr {
    border: 0;
    border-top: 1 px solid #ebebeb;
    margin-bottom: 30px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-row label {
    width: 200px;
    font-size: 13px;
    color: #222;
}

.adv-input {
    flex: 1;
    max-width: 500px;
    height: 25px;
    padding: 3px 8px;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    outline: none;
}

.adv-input:focus {
    border: 1px solid #4d90fe; 
}

.adv-btn-container {
    display: flex;
    justify-content: flex-end;
    max-width: 700px; 
    margin-top: 25px;
}

.adv-btn {
    background-color: #4d90fe;
    color: white;
    font-weight: bold;
    border: 1px solid #3079ed;
    border-radius: 2px;
    padding: 8px 16px;
    cursor: pointer;
}

.adv-btn:hover {
    background-color: #357ae8;
}